
      body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
      }
      .a{
        color:rgb(23, 22, 22);
  background-color:#f1f1f1;
  display:inline-block;

padding-left: 10px;
padding-top:5px ;
padding-bottom:5px ;
padding-right:10px;

 border-radius: 25px 25px 25px 25px;
 margin-left: 20px;

}

      
      .slidebar{
        width: 250px;
        position:fixed;
        height: 100%;
        left:0;
        top:50px;
        background-color: white;
        overflow:auto;
      padding-top: 20px;
    padding-bottom: 40px;}
      
      .nav-link span{
        padding:0 15px;
        vertical-align:bottom;
        white-space:nowrap;
        font-size:15px;

      }
      .nav-footer{display:inline-flex;
        justify-content: start;
padding-right:2px;
padding-left:1rem;
white-space:nowrap;
font-size:15px;
font-weight:bold;
}
.chip-container{
  background: white;
 border-top:2px solid white;
 border-bottom:2px solid white;
 border-left:2px solid white;
 border-right:2px solid white;
 margin-left: 250px;
 padding:1px 1px;
 padding-left: 12px;
 padding-right: 12px;
 position: relative;

}
.chip{
 display:inline-block;
 justify-content: space-evenly;
padding-left: 10px;
padding-top:5px ;
padding-bottom:5px ;
padding-right: 10px;
 font-size:16px;
 background-color: #f1f1f1;
 border:1px solid #f1f1f1;
 border-radius: 25px 25px 25px 25px;
 margin-left: 5px;
 margin-right: 5px;
 color:black;
 white-space: nowrap;
}
.chip-active{
  color:white;
  background-color: black;
  display:inline-block;
 justify-content: space-evenly;
padding-left: 10px;
padding-top:5px ;
padding-bottom:5px ;
padding-right: 10px;
 font-size:16px;
 border-radius: 25px 25px 25px 25px;
 margin-left: 5px;
 margin-right: 5px;
 border:1px solid black;
}
.chip:hover{
  color:white;
  background-color: black;
  display:inline-block;
 justify-content: space-evenly;
padding-left: 10px;
padding-top:5px ;
padding-bottom:5px ;
padding-right: 10px;
 font-size:16px;
 border-radius: 25px 25px 25px 25px;
 margin-left: 5px;
 margin-right: 5px;
 border:1px solid black;

}
.container{
  
  
  background: white;
 border-top:2px solid white;
 border-bottom:2px solid white;
 border-left:2px solid white;
 border-right:2px solid white;
 margin-left: 250px;
 margin-top: 15px;
 margin-bottom: 2px;
 padding:0px 0px;
 padding-left: 70px;
 padding-right: 150px;
 position: relative;

}
.thumbnail{
  border-radius:10px;



}
.fw-bold{
  color:black;
}
.text-dim{
  color:#aaaaaa;
}
.separator-circle{
  font-size:10px;



}
.channel-logo{
  width:50px;
  height:50px;
  border-radius:50%;
}